@import "compass_twitter_bootstrap";

.modal{
	display:none;
}

.import-list.btn{
	float:right;
}

.region-list{
	height: 300px;
	width: 100%;	
	box-sizing: border-box;
}

.modal-body .btn-primary{
	float:right;
}